:root {
  --primary-color: #af17ba;
  --secondary-color: #1924c2;
  --tertiary-color: #d01ddd;
  --dark-color: #7d1084;
  --accent-color: #ffffff;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --body-text: #212529;
  --neutral-gray: #eaf7f9;
  --sidebar-gray: #f3fbfc;
  --heading-display-color: #60107a;
  --heading-section-color: #2f2ea3;
  --heading-subsection-color: #27456a;
  --heading-detail-color: #1e5b86;
  --heading-micro-color: #2f6661;
  --heading-support-color: #47566f;
}
