:root {
  --primary-color: #af17ba;
  --secondary-color: #1924c2;
  --tertiary-color: #d01ddd;
  --dark-color: #7d1084;
  --accent-color: #ffffff;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --body-text: #212529;
  --neutral-gray: #eaf7f9;
  --sidebar-gray: #f3fbfc;
}